/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-family: 'Inter', sans-serif;
    color: #292929;
    scroll-behavior: smooth;
}
/* #region body */
.body {
    margin: 0;
    color: #292929;
}
/* #endregion */
/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 60px 120px;
    background-image: url(images/kartunku/kartunka-png.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 1024px) {
    .header {
        padding: 50px 72px;
    }
}
@media (max-width: 576px) {
    .header {
        padding: 25px 20px;}
}
.header__title {
    margin-bottom: 0;
    font-style: italic;
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
}
@media (max-width: 1024px) {
    .header__title {
        font-size: 40px;
    }
}
@media (max-width: 576px) {
    .header__title {
        font-size: 32px;
    }
}
.header__top {
    display: flex;
    justify-content: space-between;
}
/* #endregion */
/* #region main */
.main {
    padding: 120px;
    background-color: white;
}

@media (max-width: 1024px) {
    .main {
        padding: 72px;
    }
}
@media (max-width: 576px) {
    .main {
        padding: 20px;}
}
/* #endregion */
/* #region menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 60px 120px;
    background-color: aliceblue;
}

@media (max-width: 1024px) {
    .menu {
        padding: 50px 72px;
    }
}
@media (max-width: 576px) {
    .menu {
        padding: 25px 20px;
    }
}
.menu:target {
    transform: translateX(0%);
}
.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
/* #endregion */
/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav__link {
    text-decoration: none;
    line-height: 22px;
    size: 22px;
    text-transform: uppercase;
    color: #292929;
    font-family: inter, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

@media (max-width: 576px) {
    .nav__link {
       line-height: 18px;
       size: 18px;
    }
}
/* #endregion */
/* #region section-two */
.section-two {
    padding: 120px;
}
@media (max-width: 1024px) {
    .section-two {
        padding: 72px;
    }
}
@media (max-width: 576px) {
    .section-two {
        padding: 20px;}
}
.section-two__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
}
@media (max-width: 1024px) {
    .section-two__title {
        font-size: 40px;
    }
}
@media (max-width: 576px) {
    .section-two__title {
        margin-bottom: 48px;
        font-size: 32px;
    }
}

.section-two__category {
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media (max-width: 576px) {
    .section-two__category {
        display: block;
        justify-content: center;
        gap: 12px;
    }
}

.section-two__product {
    flex-basis: 324px;
}

.section-two__name {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 16px;
    line-height: 22px;
}

.section-two__text {
    margin-bottom: 12px;
    margin-top: 0;
}

.section-two__price {
    font-weight: 700;
    margin-top: 0;
    font-size: 16px;
    line-height: 22px;
}

.section-two__photo {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 0;
}

@media (max-width: 576px) {
    .section-two__photo {
        margin-bottom: 8px;
    }
}
/* #endregion */
/* #region section-three */
.section-three {
    padding: 120px;
    max-width: 1020px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .section-three {
        padding: 72px;
    }
}
@media (max-width: 576px) {
    .section-three {
        padding: 20px;}
}
.section-three__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
}

@media (max-width: 1024px) {
    .section-three__title {
        font-size: 40px;
    }
}
@media (max-width: 576px) {
    .section-three__title {
        margin-bottom: 48px;
        font-size: 32px;
    }
}
.section-three-description {
    size: 24px;
    line-height: 33px;
}

@media (max-width: 576px) {
    .section-three-description {
        size: 16px;
        line-height: 22px;
    }
}
/* #endregion */
/* #region section-four */
.section-four {
    padding: 120px;
    display: flex;
    gap: 24px;
    max-width: 1020px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .section-four {
        padding: 72px;
        display: block;
        gap: 18px;
    }
}
@media (max-width: 576px) {
    .section-four {
        padding: 20px;
        gap: 12px;
    }
}
.section-four__title {
    flex-basis: 50%;
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
}

@media (max-width: 1024px) {
    .section-four__title {
        font-size: 40px;
    }
}
@media (max-width: 576px) {
    .section-four__title {
        margin-bottom: 48px;
        font-size: 32px;
    }
}
.section-four__content {
    flex-basis: 50%;
}

.section-four__benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
@media (max-width: 576px) {
    .section-four__benefits {
        margin-bottom: 20px;
        gap: 8px;
    }
}
/* #endregion */
/* #region picture */
.section__picture {
    display: flex;
    gap: 2%;
}

.picture {
    width: 65%;
}

.picture-square {
    width: 33%;
}
/* #endregion */
/* #region footer */
.footer {
    position: sticky;
    bottom: 0;
    z-index: -1;
    height: 425px;
    background-image: url(images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* #endregion */
